<div class="container">
  <app-header></app-header>
  <div class="row job" *ngIf="jobCard">
    <div class="col-12">
      <h1 class="job-title">{{ jobCard.title }}</h1>
      <div class="job-details">
        <div class="job-data">
          <div class="img-c">
            <img src="assets/images/default-job.png" alt="Company Logo">
          </div>
          <div class="job-card">
            <div class="job-info">
              <p>{{ jobCard.author.first_name + ' ' + jobCard.author.last_name }}</p>
              <p class="tag-new">New!</p>
              <p class="tag-featured">Featured</p>
            </div>
            <div class="job-info">
              <a [href]="'mailto: ' + jobCard.author.email">{{ jobCard.author.email }}</a>
              <a [href]="'tel: ' + jobCard.author.email">{{'+ ' + jobCard.author.phone }}</a>
            </div>
            <ul class="job-info-list">
              <li>{{ jobCard.application_deadline | date: "short" }}</li>
              <li>{{ jobCard.salary + ' mdl' }}</li>
              <li>{{ jobCard.location }}</li>
            </ul>
            <ul class="job-card__tags">
              <li *ngFor="let tag of jobCard.tags">{{ tag }}</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="job-description">
        <p>{{ jobCard.description }}</p>
      </div>
      <button class="apply-button" (click)="apply()">Apply Now</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
