<div class="bg">
  <div class="slogan">
    <div class="ftitle">Uncover your ultimate dream gig!</div>
    <div class="stitle">Tired of working cashier at Linella? Browse our latest gigs to earn money faster than your
      current job
    </div>
  </div>
  <img src="assets/images/bg2.jpg">
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="search-engine">
        <img src="https://static.vecteezy.com/system/resources/previews/001/504/972/non_2x/search-icon-free-vector.jpg">
        <input type="text" placeholder="Search job title or keyword" [(ngModel)]="searchValue" (keydown.enter)=search()>
        <button class="search" (click)="search()">Find jobs</button>
      </div>

      <div class="filter-tags-c" *ngIf="filterTags.length">
        <ul id="filter-tags-list" class="job-card__tags">
          <li class="tag" *ngFor="let tag of filterTags" (click)="closeFilterTag(tag)">{{ tag.tag_name }} <span
            class="close-span">×</span></li>
        </ul>
        <p class="clear-tags" id="js-clear-tags" (click)="clearFilterTags()">Clear</p>
      </div>

      <div class="jobs-results">
        {{this.filteredData.length}} Jobs results
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="col-12" id="job-list">
      <li *ngFor="let jobCard of filteredData; let i=index" class="job-card new featured"
          [routerLink]="'/job/' + jobCard.job_id">
        <div class="job-card__info">
          <div class="d-md-flex align-items-center job-data">
            <div class="img-c">
              <ng-container *ngIf="jobCard.image; else noImage">
                <img [src]="getImageUrl(jobCard.image)" alt="Company Logo">
              </ng-container>
              <ng-template #noImage>
                <img src="assets/images/default-job.png" alt="Company Logo">
              </ng-template>
            </div>
            <div class="d-flex align-items-center">
              <div class="job-details">
                <p>{{ jobCard.created | date: "short" }}</p>
                <p class="tag-new" *ngIf="isNewJob(jobCard.created)">New!</p>
                <p class="tag-featured" *ngIf="jobCard.tags.length >= 3">Featured</p>
              </div>
              <h6>{{ jobCard.job_title }}</h6>
              <ul>
                <li>{{ jobCard.application_deadline | date: "short" }}</li>
                <li>{{ jobCard.salary }}</li>
                <li>{{ jobCard.location }}</li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="job-card__tags">
          <li *ngFor="let tag of jobCard.tags" (click)="addFilterTag(tag, $event)">{{ tag.tag_name }}</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="row">
    <mat-paginator [length]="(totalPages-1) * limit + filteredData.length"
                   [pageSize]="limit"
                   [pageIndex]="currentPage - 1"
                   (page)="changePage($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>
