.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    flex: 1 1 100%;
    background: whitesmoke;
  }
}

.list {
  display: flex;
  background: whitesmoke;
  justify-content: space-between;
  padding: 20px 50px 30px;

  .back {
    width: 48px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .jobs-list {
    width: 100%;
    margin-left: 10px;
    margin-right: auto;

    .jobs-results {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 50px;
      color: #323838;
      margin-top: 20px;
      text-align: center;
    }

    .no-results {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 50px;
      color: #323838;
      margin-top: 20px;
    }

  }
}


header {
  width: 100vw;
  height: 150px;
  background-color: #5da5a4;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.tag {
  display: flex;
  align-items: center;
  gap: 10px;
}

main {
  background-color: #f0fafb;
}

.job-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-c img {
  width: 150px;
}

#job-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.job-data {
  display: flex;
  align-items: center;
  gap: 10px;


  h6 {
    margin: 12px 0;
  }
}

.job-card {
  display: flex;
  padding: 20px;
  gap: 30px;
  background-color: white;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  .job-remove {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
    font-size: 32px;
    color: #939c9b;
    padding: 2px 5px;
    border-radius: 5px;
  }

  @media(max-width: 767px) {
    display: block;
    padding: 20px;
    margin-bottom: 50px;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  }

  p {
    font-size: 15px;
    color: #58a9a7;
    font-weight: 500;
    line-height: 1.4;
  }

  &__info {

    @media(max-width: 767px) {
      padding-bottom: 20px;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .img-c {
      margin-right: 15px;
    }

    p {
      font-weight: 700;
      margin-bottom: 7px;
    }

    h6 {
      color: #323838;
      font-size: 18px;
      font-weight: 700;
    }

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 15px;
        color: #939c9b;
        padding: 0 10px;
        position: relative;

        &:before {
          content: "";
          height: 4px;
          width: 4px;
          position: absolute;
          top: 50%;
          background-color: #939c9b;
          border-radius: 50%;
          left: -2px;
          transform: translateY(-50%);
        }

        &:first-child {
          padding-left: 0;

          &:before {
            display: none;
          }
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  &.new {
    .tag-new {
      display: block;
    }
  }

  &.featured {
    .tag-featured {
      display: block;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    list-style-type: none;

    @media(max-width: 767px) {
      padding-top: 20px;
      padding-left: 0;
      border-top: 1px solid #939c9b;
    }

    li {
      padding: 8px;
      border-radius: 5px;
      font-weight: 500;
      color: white;
      background-color: #58a9a7;
      cursor: pointer;
      transition: all ease 0.2s;
    }

    .waiting {
      color: white;
      background-color: orange;
    }

    .rejected {
      color: white;
      background-color: red;
    }

    .accepted {
      color: white;
      background-color: green;
    }
  }
}
