<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="list">
      <div class="jobs-list">

        <a href="/">
          <img class="back" src="https://cdn-icons-png.flaticon.com/512/0/340.png">
        </a>
        <div class="jobs-results">
          Work time
        </div>

        <ul class="col-12" id="job-list">
          <li *ngFor="let jobCard of jobs; let i=index" class="job-card new featured">
            <div class="job-card__info">
              <div class="d-md-flex align-items-center job-data">
                <div class="img-c">
                  <img [src]="jobCard.image" alt="Company Logo">
                </div>
                <div class="d-flex align-items-center">
                  <div class="job-details">
                    <p>{{ jobCard.recruiter }}</p>
                    <p class="tag-new">New!</p>
                    <p class="tag-featured">Featured</p>
                  </div>
                  <h6>{{ jobCard.title }}</h6>
                  <ul>
                    <li>{{ jobCard.duration }}</li>
                    <li>{{ jobCard.payment }}</li>
                    <li>{{ jobCard.location }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <ul class="job-card__tags">
              <li *ngFor="let tag of jobCard.tags">{{ tag }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

